

.sidebar {
  background-color: white;
  width: 80px;
  height: 90%;
  position: fixed;
  top: 10px;
  left: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
  
  .dots-container {
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
  }
  
  .exit-container {
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  
  .sidebar-item i {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  .sidebar-item span {
    font-size: 12px;
    
  }