
.down-navbar {
    height: 40px; 
    position: fixed;
    bottom: -25px;
    left: 10.5%;
    width: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(216,213,213); */
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 2%;
  }
  
  .left-content {
    font-size: 14px;
  }
  
  .right-content {
    display: flex;
    align-items: center;
  }
  
  button {
    padding: 8px 12px;
    border: none;
    background-color: rgb(139,144,150); 
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgb(114, 114, 114);
  }
  
  .page-numbers {
    display: flex;
  }
  
 
  