/* Order.css */
/* ... other styles ... */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216,213,213);
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    width: 100%;
    max-width: 86%; /* Adjust the width as needed */
    margin-left:10%;
  }
  
  .navbar-left {
    color:rgb(31,61,217);
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .status-btn {
    padding: 8px 15px;
    background-color: rgb(175,184,232);
    color: rgb(31,61,217);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .dropbtn {
    background-color: #28a745;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
   top:2;
   right:28.24%;
   bottom:54.5%;
   
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .calendar-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
  }
  .navbar-right i{
    margin-right: 12px;
  }
  .status-btn:hover .dropdown-content {
    display: block;}
    /* ... other styles ... */

.date-filter {
  display: flex;
  align-items: center;
}

.date-filter input[type="date"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.date-filter button {
  padding: 8px 15px;
  background-color: rgb(175, 184, 232);
  color: rgb(31, 61, 217);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.date-filter button:hover {
  background-color: rgb(155, 164, 212);
}
