/* ParentComponent.css (if you want to style the parent component) */

/* Add your styles for the parent component here */

/* Card.css (if you want to style the individual card component) */
.card {
    width: 200px;
    border: 1px solid #7e7b7b;
    background-color: rgb(233, 232, 231);
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(233, 37, 37, 0.082);
  }
  
  .card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 0;
  }
  
  .card p:first-child {
    font-weight: bold;
    font-size: 18px;
  }
  
  .card p:last-child {
    color: #777;
    font-size: 14px;
  }
  