body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  backdrop-filter: blur(10px);
  background-color: white;
  border-style: hidden;
  border-radius: 20px;
  margin-top: 25px;
  /* width: 100%; */
  max-width: 86%;
  /* Adjust the width as needed */
  margin-left: 10%;
  margin-bottom: 6%;
  /* border-top-right-radius: 10%; */


  /* Apply blur to the table layer */
}

th,
td {
  padding: 10px;
  border: 1px solid #ffffff;
  text-align: left;
  border-bottom: 1px solid #d6d6d6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

th {
  background-color: #ffffff;
  /* border-radius: 10%; */
}

/* Pop-up styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_inner {
  background-color: rgb(202, 202, 202);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  margin-top: 0;
}

.popup label {
  display: block;
  margin-bottom: 10px;
}

.popup input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(187, 190, 206);
  border-radius: 3px;
}

.popup button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  .popup button + button {
  margin-left: 10px;
}

.popup button:hover {
  background-color: #0056b3;
}

.popup button:active {
  background-color: #003a80;
}

.Add-Products {
  display: flex;
  align-items: center;
  margin-left: 10%;

}

.Add-Products button {
  margin-left: 61.3%;
  background-color: rgb(185, 193, 238);
  padding: 13px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.Add-Products h3{
  color: #0056b3;
  margin-left: 3px;
}
.search1 {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(185, 193, 238);
  /* color: rgb(44, 64, 177); */
  border: none;
  margin-left: 3%;
}

.Btn {
  color: rgb(44, 64, 177);
  margin-right: 3px;
  font-weight: 8px;
}