* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: rgb(216, 213, 213);
  }
  .overlay-container {
    position: relative;
    backdrop-filter: blur(5px); /* Apply blur to the overlay container */
  }