* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(216, 213, 213);
}

/* 
.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 3px;

}

.down {
  transform: rotate(45deg);
}

.text {
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}

.dummy_border {
  height: 20px;
  width: 2px;
  background-color: lightgrey;
  margin-left: 20px;
  margin-right: 20px;
}

.Top_subtopics {
  display: flex;

}

.Euro {
  color: red;
  font-family: 'Quicksand', sans-serif;
}

.Delivery_detail {
  font-weight: 500;
  font-size: large;
  font-family: 'Quicksand', sans-serif;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  width: 80%;
  padding-left: 10%;

}

.dummy_border1 {
  height: 2px;
  width: 94%;
  background-color: lightgray;
  margin-top: 20px;
  margin-left: 3%;
}

.menu_bar {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-top: 30px;
  justify-content: space-between;
  width: 80%;

}

.menu {
  display: flex;
  justify-content: center;
  padding-left: 50px;
}

.text1 {
  font-weight: 500;
  padding: 12px;
  font-family: 'Quicksand', sans-serif;

}

i {
  padding-left: 15px;
  margin-left: 5px;

}

#cart:hover{
  cursor: pointer;
}
.dummy_border2 {
  height: 80px;
  width: 94%;
  background-color: rgb(235, 235, 235);
  margin-top: 20px;
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.home {
  color: rgb(77, 77, 77);
  font-weight: 600;
  padding-right: 10px;
  font-family: 'Quicksand', sans-serif;
  

}

.shop {
  color: black;
  font-weight: 600;
  padding-left: 10px;
  font-family: 'Quicksand', sans-serif;
  
}

.Main_search {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding-top: 5%;
  padding-left: 10%;

}
.Search_here {
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  color: rgb(87, 87, 87);
  font-weight: 600;
  border: 1px solid lightgrey;
  font-family: 'Quicksand', sans-serif;
}

.dummy_border3 {
  height: 20px;
  width: 2px;
  background-color: rgb(153, 153, 153);

}

.search_by_logo {
  display: flex;
  align-items: center;
}

.Search_list_title1 {
  padding-top: 50px;
  font-family: 'Quicksand', sans-serif;
}

.Search_list_title2 {
  padding-top: 30px;
}

.List_of_options {
  padding-top: 30px;
}

.tag_button {
  background-color: rgb(227, 227, 227);
  border: none;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  margin: 5px;
}

.tag_button:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}

.catagory_list {
  margin-bottom: 20px;
  margin-right: 10px;
  font-family: 'Quicksand', sans-serif;
}
label{
  font-family: 'Quicksand', sans-serif;
}

.Default_button {
  padding: 10px;
  width: 170px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  font-family: 'Quicksand', sans-serif;

}

.search_result {
  display: flex;
  height: 40px;
}

.Home_search_results {
  display: flex;
  width:85%;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 30px;
}

.Results_obtained {
  padding-top: 10px;
  padding-left: 50px;
  font-family: 'Quicksand', sans-serif;
}

.icon_set {
  padding-top: 10px;
  
}

.cloth_collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  width: 85%;
}
.dresses {
  height: 350px;
  margin-bottom: 40%;
}

.discount_rate {
  position: relative;
}
.discount {
  position: absolute;
  top: 3%;
  left: 72%;
}

.cloth_type {
  position: absolute;
  top: 12%;
  left: 72%;
}

.discount1 {
  background-color: rgb(255, 106, 210);
  border: none;
  padding: 3px;
  width: 60px;
  border-radius: 5px;
  color: white;
}
.Home_search1{
  display: none;
}
.type1 {
  background-color: blueviolet;
  border: none;
  padding: 3px;
  width: 60px;
  border-radius: 5px;
  color: white;
}

.dress_images {
  height: 350px;
  /* width: 255px; */
/* }

.dress_name {
  display: flex;
  padding-top: 20px;
  font-size: larger;
  justify-content: center;

}

.star_rating {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#star {
  padding-left: 0px;
  padding-right: 0px;
}

span {
  color: orange;
  padding-left: 0px;
  padding-right: 0px;
}

.dress_cost {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: larger;
  font-weight: 600;
  font-stretch: condensed;
}

.dress_cost span {
  color: gray;
  padding-left: 5px;
}

.page_no {
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  border: none;
  margin: 5px;
  font-family: 'Quicksand', sans-serif;
  height: 40px;
  width: 40px;
}

.page_no:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: white;
}
.page_navigation {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-right: 15%;
}

.active {
  background-color: blueviolet;
  color: white;
}

.dummy_border-a {
  height: 100%;
  background-color: rgb(235, 235, 235);
  margin-top: 20px;
  padding: 7% 14% 10% 14%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: 'Quicksand', sans-serif;

}

.email {
  border: none;
  background-color: rgb(235, 235, 235);

}

.box1 {
  margin-top: 40px;
}

.box1 h1 {
  font-weight: 1000px;
}

.box1 p {
  margin-top: 5px;
  color: rgb(114, 105, 105);

}

.box2 p {
  margin-top: 15px;
  color: rgba(95, 95, 95, 0.829);
}

.email {
  margin-top: 25px;
}

.dummy_border4 {
  height: 2px;
  width: 100%;
  background-color: rgb(201, 200, 200);
  margin-top: 10px;
}

.subscribe p {
  font-family: 300px;
  font-size: 13px;
  color: rgb(14, 14, 15);

}

.dummy_border5 {
  height: 2px;
  width: 70px;
  background-color: rgb(133, 130, 130);
}

.dummy_border3-a {
  background-color: rgb(235, 235, 235);
  margin-top: 5%;
  padding: 7% 14% 5% 14%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: 'Quicksand', sans-serif;

}

.email-a {
  border: none;
  background-color: rgb(235, 235, 235);
  margin-top: 25px;

}

.box1-a {
  margin-top: 40px;
}

.box1-a h1 {
  font-weight: 1000px;
}

.box1-a p {
  margin-top: 5px;
  color: rgb(114, 105, 105);

}

.box2-a p {
  margin-top: 15px;
  color: rgba(95, 95, 95, 0.829);
}

.dummy_border4-a {
  height: 2px;
  width: 100%;
  background-color: rgb(201, 200, 200);
  margin-top: 10px;
}

.subscribe-a p {
  font-family: 300px;
  font-size: 13px;
  color: rgb(14, 14, 15);

}

.dummy_border5-a {
  height: 2px;
  width: 70px;
  background-color: rgb(133, 130, 130);
}

@media (max-width:600px) {
  .Navbar {
      display: none;           
  }
  .dummy_border1 {
          display: none;
  }
  .menu {
      display: none;
      
  }
  .menu_bar{
      font-size:large;
  }
  .home{
      font-size:large;
  }
  .shop{
      font-size: large;

  }
  i {
      padding-left: 5px;
      margin-left: 5px;
          
  }
  .search_result {      
      flex-direction: column;
  }
  .Home_search_results {
      flex-direction: column;
      
   }
  .Search_here{
      width: 330px;
  }
   .Results_obtained {
      padding-left: 0%;
  }
  .icon_set {
      margin-top: 30px;
      margin-left: 0%;
             
  }
  .List_of_options{
      width:330px ;
  }
  .Home_search{
      display: none;
  }
  .cloth_collection {        
      grid-template-columns: 1fr;
  }
  .discount_rate {
      width: 100%;
      margin: auto;
  }
  .Home_search1{
      display: block;
      padding-top: 50px;
  }
  .dress_images {
      width: 100%;
      margin: auto;
  }
  .dress_name {
      width: 100%;
      margin: auto;
  
  }
  .star_rating {
      width: 100%;
      margin: auto;
      padding-top: 10px;
  
  }
  .dress_cost {
      width: 100%;
      margin: auto;
  
  }
  .page_no {
      margin: 2px;
  }
  .page_navigation {
      margin-top: 5px;
      margin-left: 0%;
  }
  .dummy_border3-a {
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .box1-a {
      line-height: 1.8;
      padding-bottom: 15px;
  }
  .box2-a {
         padding-bottom: 15px;
  }
  .box2-a p {
        line-height: 1.8;
  }           
} */

 
