.top-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #f0f0f0; */
    padding: 10px;
    margin-top: 2%;
    margin-left: 70%;
  }
  
  .profile-image img {
    width: 30px;
    height: 33px;
    border-radius: 50%;
    margin-left: 14px;
    background-color: rgb(241, 241, 241);
  }
  
  .profile-image {
    margin-right: 12%;
  }
  
  .date-time-container {
    display: flex;
    align-items: center;

  }
  
  .date-time-container .date {
    margin-right: 6px;
    font-weight:lighter;
    font-size: large;
  }
  
  .date-time-container span {
    margin-left: 5px;
    font-size: large;
  }
  