.DashBoard{

    margin-left: 200px;
    padding-top: 50px;
}
.Page{
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    margin: auto;
    
    
}

.DashHead{
    height: 70px;
    width: 200px;
 color: blue;
    
}
.DashFilter{
    color: blue;
}

.TopDash{
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.BottomDash{
    padding-right: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.MenuCard{
    height:80px;
    display: flex;
    background: white;
    width: 250px; 
    padding-left: 30px;
    
    border-radius: 5px;
}
.Menu{
    margin-left: 30px;
    margin-top: 20px;
}
.Menu h6{
    opacity: 0.7;
    margin-top: 10px;
}
.icon{
    display: flex;
    align-items: center;
    
}