/* App.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }


table {
  width: 100%;
  border-collapse: collapse;                                    
  margin-top: 20px;
  backdrop-filter: blur(10px); 
  background-color: white;
  border-style:hidden;
  border-radius: 20px;
  margin-top: 25px;
  /* width: 100%; */
  max-width: 86%; /* Adjust the width as needed */
  margin-left:10%;
   

  }
  
  
  th,
  td {
    padding: 1px;
    border: 1px solid #ffffff;
    text-align: left;
    border-bottom: 1px solid #d6d6d6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
  }
  
  th {
    background-color: #ffffff;
    /* border-radius: 10%; */
  }
  

 /* Order.css */
/* ... Your existing CSS styles ... */

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left:10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ... Other existing CSS styles ... */
